body {
    background-color: #181818; 
    color: white; 
    font-family: 'Roboto Mono', monospace; 
    margin: 0;
    padding: 0;

    cursor: url("https://sophiacombes.github.io/images/nav-images/fish.png"), auto; 
}


a, button {
    cursor: url("https://sophiacombes.github.io/images/nav-images/deadfish.png"), pointer; 
}


.custom-pointer {
    cursor: url("images/nav-images/deadfish.png"), pointer;
}

.custom-auto {
    cursor: url("images/nav-images/fish.png"), auto; 
}

.resize-image {
    width: 600px;  
    height: auto;  
}